@charset "UTF-8";
.fixed {
  position: fixed;
  width: 100%;
  margin-top: 70px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: -70px;
  /*z-indexを使って回り込みを防ぐ*/
}

#margin-for-fixed {
  margin-top: 70px;
}

@media only screen and (max-width: 480px) {
  body {
    min-width: 375px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #1dace0;
  color: #fff;
  font-size: 18px;
  font-weight: 0;
  padding: 5px 0;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

@media only screen and (max-width: 480px) {
  .icon {
    margin-left: 2px;
  }
}

.icon img {
  height: 60px;
}

.icon .name strong {
  color: #eae51f;
}

@media only screen and (max-width: 480px) {
  .icon span {
    display: none;
  }
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

@media only screen and (max-width: 480px) {
  .header-right {
    display: none;
  }
}

.header-right li:first-child {
  margin-right: 30px;
}

.welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}

.title {
  font-size: 64px;
  font-weight: 0;
}

@media only screen and (max-width: 480px) {
  .title {
    display: none;
  }
}

.guideline {
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
  /*700と一緒*/
}

@media only screen and (max-width: 480px) {
  .guideline {
    margin-top: 30px;
    font-size: 24px;
    font-weight: normal;
  }
}

.guideline li {
  margin-top: 16px;
}

.guideline li:not(:first-child) {
  margin-top: 16px;
}

.btn-group {
  margin-top: 60px;
}

@media only screen and (max-width: 480px) {
  .btn-group {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 40px;
  }
}

.btn {
  height: 55px;
  width: 170px;
  margin-left: 120px;
  cursor: pointer;
  /*ホバーしたタイミングでポインタにしてくれる*/
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border-radius: 10px;
}

@media only screen and (max-width: 480px) {
  .btn {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: 48px;
    width: 40%;
  }
  .btn:first-child {
    margin-top: 0;
  }
}

.btn:first-child {
  margin-left: 0;
}

.register {
  /**/
  background-color: rgba(29, 172, 224, 0.5);
  border: 3px solid rgba(29, 172, 224, 0.3);
}

.register:hover {
  background-color: #1dace0;
}

.login {
  background-color: rgba(236, 227, 35, 0.5);
  border: 3px solid rgba(236, 227, 35, 0.3);
}

.login:hover {
  background-color: #ece323;
}

.curriculum {
  margin-top: 50px;
}

.sub-title {
  text-align: center;
  font-size: 36px;
}

.img-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  /* display: flex;
	justify-content: center;
	    text-align: center; */
}

@media only screen and (max-width: 1280px) {
  .img-box {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 960px) {
  .img-box {
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.img-box li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 60px;
  /*一旦文字と画像を合わせ、中央に寄せてからmarginで余白を取る*/
}

@media only screen and (max-width: 1280px) {
  .img-box li {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 960px) {
  .img-box li {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.img-box li:last-child {
  margin-right: 0;
}

.img-box li span {
  font-size: 24px;
  margin-top: 20px;
}

.img-box img {
  height: 300px;
  width: 300px;
}

.contact .form .name, .contact .form .email {
  height: 50px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
}

.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  height: 350px;
  background-color: #eaf2f4;
  padding-top: 50px;
}

@media only screen and (max-width: 960px) {
  .contact {
    height: 100%;
    padding: 40px 20px;
  }
}

.contact .form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}

@media only screen and (max-width: 960px) {
  .contact .form {
    flex-flow: column nowrap;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 0;
    width: 80%;
  }
}

.contact .form .name {
  margin-bottom: 30px;
}

@media only screen and (max-width: 960px) {
  .contact .form .email {
    width: 80%;
  }
}

.contact .form .inquiry {
  height: 130px;
  width: 400px;
  box-sizing: border-box;
  margin-left: 40px;
}

@media only screen and (max-width: 960px) {
  .contact .form .inquiry {
    width: 80%;
  }
}

.contact button {
  font-size: 24px;
  background-color: #1dace0;
  color: #fff;
  border: 3px solid #1dace0;
  border-radius: 10px;
  padding: 15px 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 960px) {
  .contact button {
    font-size: 20px;
    padding: 5px 40px;
    box-sizing: border-box;
  }
}

.contact button:hover {
  background-color: #fff;
  color: #1dace0;
  transition-duration: 500ms;
  /*hover時500msかけて実行*/
}

.form-left {
  height: 130px;
}

@media only screen and (max-width: 1280px) {
  .form-left {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

textarea {
  height: 60px;
  width: 200px;
}

footer {
  display: flex;
  justify-content: spase-between;
  align-items: center;
  background-color: #233f51;
  color: #fff;
  font-size: 18px;
  padding: 5px;
}

@media only screen and (max-width: 480px) {
  footer {
    justify-content: center;
  }
  footer .icon {
    display: none;
  }
  footer .footer-right {
    margin-right: 0;
    align-items: center;
  }
}

footer .footer-right {
  margin-right: 80px;
}

footer p {
  display: flex;
}
